* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.navbar {
    background: linear-gradient(to right, #1e90c9, #0b5ed7);
    padding: 15px 0;
}


logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 125px;
    height: auto;
}


.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.btn-outline {
    border: 1px solid #fff;
    padding: 6px 12px;
    border-radius: 5px;
}

.hero {
    padding: 60px 0;
}

.hero-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text h1 {
    font-size: 48px;
}

.orange { color: #ff6a00; }
.blue { color: #0b5ed7; }

.hero-text h2 {
    margin: 10px 0;
}

.hero-text p {
    margin: 15px 0;
    color: #555;
}

.btn-primary {
    background: #0b5ed7;
    color: #fff;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
}

.hero-image img {
    width: 280px;
}

.about {
    padding: 60px 0;
    background: #f8f9fa;
}

.about-flex {
    display: flex;
    gap: 40px;
    align-items: center;
}

.video-box {
    width: 300px;
    height: 180px;
    background: #ccc;
    position: relative;
}

.play {
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.5);
    clip-path: polygon(30% 20%, 30% 80%, 80% 50%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feature {
    padding: 60px 0;
}

.text-center {
    text-align: center;
}

.card {
    margin: 30px auto;
    width: 200px;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.icon {
    font-size: 48px;
    margin-bottom: 15px;
}

.btn-gray {
    background: #e0e0e0;
    padding: 6px 14px;
    border-radius: 20px;
    text-decoration: none;
    color: #333;
}

.footer {
    background: #0b3d91;
    color: #fff;
    padding: 40px 0 10px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.8;
}
